Repository PaleBloodq/test_QA_1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_product_parser, build_payments, build_tg_bot, build_frontend

Path conditions:
  build_backend: any of: backend/requirements.txt
  build_product_parser: any of: product_parser/requirements.txt
  build_payments: any of: payments/requirements.txt
  build_tg_bot: any of: tg_bot/requirements.txt
  build_frontend: any of: frontend/**/*

языки подстроены под новый api
  frontend/src/pages/DonationPage/index.tsx
  frontend/src/pages/Game/index.tsx
  frontend/src/pages/Subscription/index.tsx
  frontend/src/types/ProductType.ts
  frontend/src/types/publicationType.ts
Due: build_frontend

.
  frontend/src/pages/Profile/index.tsx
Due: build_frontend

исправление формулы рассчета кэшбэка
  frontend/src/helpers/calcOrderCashback.ts
Due: build_frontend

исправлено отображение подписки на главном экране
  frontend/src/components/Home/Subscribes/PSPlus/index.tsx
Due: build_frontend

фикс
  .gitlab-ci.yml
  backend/api/signals.py
  docker-compose.yaml
  example.env
  tg_bot/app/windows/main/menu.py
  tg_bot/app/windows/order/handlers.py
  tg_bot/app/windows/order/menu.py
  tg_bot/app/windows/order/methods.py
  tg_bot/web/api/routes.py
Due: none

фикс
  backend/api/signals.py
Due: none

фикс
  .gitlab-ci.yml
Due: none

фикс
  tg_bot/app/windows/order/menu.py
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

фикс
  .gitlab-ci.yml
  tg_bot/app/windows/order/menu.py
Due: none

фикс
  docker-compose.yaml
Due: none

фикс
  .gitlab-ci.yml
  example.env
  tg_bot/app/windows/order/menu.py
  tg_bot/web/api/routes.py
Due: none

фикс
  example.env
  frontend/src/helpers/replaceUrl.ts
Due: build_frontend

фикс
  tg_bot/app/windows/order/menu.py
  tg_bot/app/windows/order/methods.py
  tg_bot/web/api/routes.py
Due: none

фикс
  tg_bot/app/windows/order/methods.py
  tg_bot/web/api/routes.py
Due: none

фикс
  tg_bot/app/windows/order/methods.py
  tg_bot/utils.py
  tg_bot/web/api/routes.py
Due: none

фикс
  tg_bot/app/custom_widgets.py
  tg_bot/app/windows/order/menu.py
  tg_bot/app/windows/order/methods.py
  tg_bot/web/api/models.py
Due: none

фикс
  backend/custom_admin/templates/admin/chat.html
  tg_bot/web/api/models.py
  tg_bot/web/api/routes.py
Due: none

фикс
  tg_bot/web/api/models.py
Due: none

сделал так, что при одинаковых платформах селектор платформы скрывается.
  frontend/src/components/common/SelectPublictaion/SelectPlatform/index.tsx
Due: build_frontend

Пофиксил платежку
  backend/api/models.py
  backend/api/views/orders.py
  payments/utils.py
Due: none

Сериализатор для создания платежей
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views/orders.py
Due: none

Пофиксил применение скидки
  backend/api/views/orders.py
  payments/routes.py
  payments/utils.py
Due: none

фикс
  backend/api/signals.py
  backend/api/tasks.py
  dev.docker-compose.yaml
  docker-compose.yaml
  product_parser/utils.py
Due: none

лишние записи depends_on
  dev.docker-compose.yaml
Due: none

Исправил периодическую задачу
  backend/api/signals.py
Due: none

Переписал парсер товаров
  .gitlab-ci.yml
  backend/api/admin.py
  backend/api/models.py
  backend/api/serializers/__init__.py
  backend/api/serializers/backend.py
  backend/api/serializers/ps_api.py
  backend/api/signals.py
  backend/api/tasks.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views/__init__.py
  backend/api/views/catalog.py
  backend/services/__init__.py
  backend/services/ps_store_api.py
  dev.docker-compose.yaml
  docker-compose.yaml
  example.env
  product_parser/Dockerfile
  product_parser/__init__.py
  product_parser/main.py
  product_parser/requirements.txt
  product_parser/routes.py
  product_parser/utils.py
Due: build_product_parser

Фикс
  dev.docker-compose.yaml
Due: none

фикс
  backend/api/views/__init__.py
Due: none
